# Uncomment this line and run `yarn add @milk1000cc/postcss-config --dev && yarn add @milk1000cc/stylelint-config --dev`
# //npm.pkg.github.com/:_authToken=${NPM_TOKEN}

@milk1000cc:registry=https://npm.pkg.github.com/
