= stylesheet_link_tag \
  'sanitize.css/sanitize.css',
  'sanitize.css/forms.css',
  'sanitize.css/assets.css',
  'sanitize.css/reduce-motion.css',
  '@fortawesome/fontawesome-free/css/all.min.css',
  'application'
