= stylesheet_link_tag \
  'sanitize.css/sanitize.css',
  'sanitize.css/forms.css',
  'sanitize.css/assets.css',
  'sanitize.css/reduce-motion.css',
  '@fortawesome/fontawesome-free/css/fontawesome.css',
  '@fortawesome/fontawesome-free/css/brands.css',
  '@fortawesome/fontawesome-free/css/solid.css',
  '@fortawesome/fontawesome-free/css/regular.css',
  'application'
